## task 4 Session 31
## 1 - create amazon database 
## 1.1 - using Peewee
## 2 - create 2 new tables:
## 2.1    - products (name,price,category(relation),description)
## 2.2   - category (name)
## 3  - insert new data into products , category
## 3.1  - using dummy data website , download 100 product and 10 category as 2 files in json or csv format 
## 3.2  - builk insert file data into products , category tables 
## 4  - select all products 
## 5  - select all products price > 30
## 6  - get products wehre category = 'any_category_name'
## 7  - count how many product in each category 
## 8  - export products into csv

## -------------------------------------------------------------------------
## 1 - create amazon database
## 1.1 - using Peewee

In [188]:
from peewee import *
db =MySQLDatabase(
    "amazon",
    user = "root",
    password = "1988",
    host = "localhost"
)
db.connect()
print("connect")

connect

## -------------------------------------------------------------------------
## 2 - create 2 new tables
## 2.1 - products (name,price,category(relation),description)

In [89]:
class Products(Model):
    id = AutoField()
    name = CharField()
    price = FloatField()
    description = CharField()
    category = ForeignKeyField( Category , backref='relation')
    class Meta:
        database = db # create table on db 
db.create_tables([Products])

## -------------------------------------------------------------------------
## 2.2 - category (name)

In [88]:
class Category(Model):
    id = AutoField()
    name = CharField()
    class Meta:
        database = db # create table on db 
db.create_tables([Category])

## -------------------------------------------------------------------------
## 3 - insert new data into products , category
## 3.1 - using dummy data website , download 100 product as 1 files in json or csv format

## -------------------------------------------------------------------------
## 3 - insert new data into products , category
## 3.1 - using dummy data website , download 10 category as 1 files in json or csv format

## -------------------------------------------------------------------------
## 3.2 - builk insert file data into products tables

In [99]:
import json
f = open('prod_DATA.json')
data = json.load(f)
 # insert 100 product using build insert 
for p in data:
      Products.create(**p)

## -------------------------------------------------------------------------
## 3.3 - builk insert file data into category tables

In [98]:
import json
f = open('category1_DATA.json')
data = json.load(f)
 # insert 10 product using build insert 
for p in data:
      Category.create(**p)

## -------------------------------------------------------------------------
## 4 - select all products

In [ ]:
data = Products.select()
for x in data:
    print(x.name, x.price, x.category, x.description)

## -------------------------------------------------------------------------
## 5 - select all products price > 30

In [116]:
# data = db.execute_sql('select * from Products where price > 30')
# print(list(data))
data = Products.select().where(Products.price > 95)
for x in data:
    print(x.price)

98.7
96.4
98.4
96.7
99.4
99.3
97.2
97.7
99.8

## -------------------------------------------------------------------------
## 6 - get products wehre category = 'any_category_name'

In [189]:
data = Products.select().where(Products.category == 1 )
for x in data:
    print(x.name,x.price , x.description,x.category)
# data = db.execute_sql('''SELECT * FROM products WHERE name = 'Tea Leaves - Oolong' ''')
# print(list(data))
# category_name = 'Corn - Mini'
# products_in_category = Products.select().join(Category).where(Category.name == category_name)
# data = Products.select().where(Products.name == 'Corn - Mini' )
# for x in data:
#     print(x.name)

Pears - Anjou 83.8 Osteoclasis NOS 1
Nestea - Ice Tea, Diet 69.5 Drain face & mouth floor 1
Muffin - Mix - Bran And Maple 15l 99.3 Abd contr phlebogram NEC 1
Bar Mix - Lemon 56.1 Other incid appendectomy 1
Persimmons 60.7 Splenotomy 1

## -------------------------------------------------------------------------
## 7 - count how many product in each category

In [192]:
data = db.execute_sql('''SELECT name , count(*) as count from Products GROUP BY Category_id ''')
print(list(data))

[('Pears - Anjou', 5), ('Tea Leaves - Oolong', 10), ('Calypso - Black Cherry Lemonade', 10), ('Pepper - Red Bell', 17), ('Tomatoes - Orange', 9), ('Oil - Hazelnut', 12), ('Egg - Salad Premix', 6), ('Buffalo - Short Rib Fresh', 7), ('Bread - Pita', 12), ('Wine - Black Tower Qr', 12)]

## -------------------------------------------------------------------------
## 8 - export products into csv

In [143]:
import csv
file_name = "myfile"
quer = db.execute_sql(" select * from Products ")
data = [x for x in quer]
with open(f"{file_name}.csv" , mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow([ 'ID','name', 'price' , 'description',' category' ])
    writer.writerows(data)
print(f"Data exported to {file_name}.csv OK. ")

Data exported to myfile.csv OK.